@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
//font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Mono', monospace, serif;
    height: 100%;
}

.main {
    height: 100vh;
    background: #fff;
    margin: 0 auto;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
}

.title-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffe400;
    padding-left: 30px;
    padding-right: 30px;
}

.title-container__title {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1.3;
    font-family: 'Roboto Mono', monospace, serif;
}

.title-container__subtitle {
    font-style: italic;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace, serif;
}

.form-container {
    height: 90vh;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container:before {
    content: '';
    width: 3px;
    border: solid 2px rgba(171, 164, 163, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

form {
    text-align: center;
}

input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #f16051;
    padding-bottom: 4px;
    color: black;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

input[type="text"] {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: black !important;
}

button {
    border: 0;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 2px;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    background-color: #49aee9;
    color: #fff;
    font-weight: 100;
}

button:active {
    outline: none;
}

.weather__icon {
    width: 25%;
}

.weather__info {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-top: 25px;
    transition: .5s ease;
}

.weather__key {
    text-align: left;
    color: #f16051;
    border-bottom: solid 2px rgba(255,255,255,0.06);
    padding: 20px 0 20px 0;
    font-weight: 400;
}

.weather__key:last-child {
    border: 0;
}

.weather__value {
    color: black;
    font-weight: 200;
}

.weather__error {
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
}
